/*
 * Copyright (c) 2025 cr3eperall
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/gamepad_button.dtsi>
#include <dt-bindings/he/pulse_set.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        L3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
        L6 {
            if-layers = <4 5>;
            then-layer = <6>;
        };
    };
    km: keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  BSPC  |
            // |  CTRL |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENTER |
            //         |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |
            // |  SW1  | SW2 |     | LGUI| L1  |SHIFT|     |SHIFT| L2  | ALT |     | SW2 |   SW1  |
            bindings = <
                &kp ESC &kp Q &kp W &kp E &kp R &kp T            &kp Y &kp U &kp I &kp O &kp P    &kp BSPC
              &kp LCTRL &kp A &kp S &kp D &kp F &kp G            &kp H &kp J &kp K &kp L &kp SEMI &kp RET
                        &kp Z &kp X &kp C &kp V &kp B            &kp N &kp M &kp COMMA &kp DOT &kp FSLH
  &ps PULSE_TEMP_OFF &mo 4    &kp LGUI &lt 1 SPACE &kp LSHFT     &kp RSHFT &lt 2 SPACE &kp RALT   &mo 5 &ps PULSE_TEMP_OFF
            >;
        };
        L1-numbers {
            // ---------------------------------------------------------------------------------------------------------
            // |  TAB  |  `   |  INS |  HOME |  PG_UP  |  SYS_QR |         |     |  [  |  ]  |  -  |  =  |  DEL  |
            // |       |  1   |  2   |   3   |    4    |    5    |         |  6  |  7  |  8  |  9  |  0  |  APP  |
            //         | CAPS |  DEL |  END  | PG_DOWN |         |         |     |     |     |  '  |  \  |
            //                       |       |   L1    |         |         |     | _L2 |     |
            bindings = <
               &kp TAB &kp GRAVE &kp INS &kp HOME &kp PG_UP &kp SYSREQ       &trans  &kp LBKT &kp RBKT &kp MINUS &kp EQUAL &kp DEL
               &trans  &kp N1  &kp N2 &kp N3   &kp N4    &kp N5             &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp K_APP
                      &kp CAPS &kp DEL &kp END &kp PG_DN &trans             &trans &trans &trans  &kp SQT &kp BSLH
            &trans   &trans            &trans  &trans    &trans              &trans &trans &trans                &trans   &trans
            >;
        };
        L2-media-accents-symbols {
            // -----------------------------------------------------------------------------------------
            // |  F1  |  F2 | F3  | F4  | F5  | F6  |               | F7  | F8  | F9  | F10 | F11 | F12  |
            // |      |     |PREV |PPAUS|NEXT |     |               |LEFT |DOWN | UP  |RIGHT|     |      |
            //        |     |VOLDW| MUTE|VOLUP|     |               |'(a) |[(è) |=(ì) |;(ò) |\(ù) |
            //                    |     | _L1 |     |               |     | L2  |     |
            bindings = <
               &kp F1  &kp F2 &kp F3 &kp F4 &kp F5 &kp F6                    &kp F7 &kp F8  &kp F9 &kp F10 &kp F11 &kp F12
            &trans &trans &kp C_PREV &kp C_PP &kp C_NEXT &trans             &kp LEFT &kp DOWN &kp UP  &kp RIGHT &trans &trans
                &trans    &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &trans      &kp SQT &kp LBKT &kp EQUAL &kp SEMI &kp BSLH
            &trans    &trans          &trans &trans   &trans               &trans   &trans    &trans           &trans   &trans
            >;
        };
        L3-special {
            // -----------------------------------------------------------------------------------------
            // |        |       |MOU_W| MOU_U  | MOU_W |       |              |          | BT_0 | BT_1 | BT_2 | BT_3 | BT_4 |
            // |        |OUT_USB|MOU_L| MOU_D  | MOU_R |OUT_BLE|              |BT_CLR_ALL|M_LCK |M_MCK |M_RCK |      |      |
            //          |OUT_TOG|     |        |       |       |              |  BT_PRV  |BT_CLR|      |      |      |
            //                        |        |       |  _L2  |              |  BT_NXT  | _L1  |      |
            bindings = <
            &trans  &trans   &trans &trans &trans &trans                  &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
            &trans &out OUT_USB &trans &trans &trans &out OUT_BLE          &bt BT_CLR_ALL &mkp LCLK &mkp MCLK  &mkp RCLK &trans &trans
                   &out OUT_TOG &trans &trans &trans &trans               &bt BT_PRV &bt BT_CLR  &trans  &trans &trans
            &trans    &trans          &trans &trans &trans                 &bt BT_NXT   &trans    &trans           &trans   &trans
            >;
        };
        L4-gaming-digital {
            // -----------------------------------------------------------------------------------------
            // |  ESC  | TAB |  Q  |  W  |  E  |  R  |     |  T  |  Y  |  U  |  I  |  O  |  P  |
            // | ENTER |SHIFT|  A  |  S  |  D  |  F  |     |  G  |  H  |  J  |  K  |  L  |  ;  |
            //         |CTRL |  Z  |  X  |  C  |  V  |     |  B  |  N  |  M  |  ,  |  .  |
            //                     | ALT | SPC | L7  |     | ALT | L6  | LGUI|
            bindings = <
            &kp ESC &kp TAB   &kp Q &kp W &kp E &kp R       &kp T &kp Y &kp U &kp I &kp O &kp P
            &kp RET &kp LSHFT &kp A &kp S &kp D &kp F       &kp G &kp H &kp J &kp K &kp L &kp SEMI
                    &kp LCTRL &kp Z &kp X &kp C &kp V       &kp B &kp N &kp M &kp COMMA &kp DOT
            &trans &trans     &kp LALT &mo 7 &kp SPACE      &kp RALT &mo 8 &kp LGUI         &trans   &trans
            >;
        };
        L5-gaming-analog {
            // -----------------------------------------------------------------------------------------
            // |  ESC  | TAB |  Q  | gp_U|  E  |  R  |         |  T  |  Y  |  U  |  I  |  O  |  P  |
            // | ENTER |SHIFT| gp_L| gp_D| gp_R|  F  |         |  G  |  H  |  J  |  K  |  L  |  ;  |
            //         |CTRL |  Z  |  X  |  C  |  V  |         |  B  |  N  |  M  |  ,  |gp_A |
            //                     | ALT | SPC | L7  |         | ALT | L6  | LGUI|
            bindings = <
            &kp ESC  &kp TAB  &kp Q &kp W &kp E &kp R           &kp T &kp Y &kp U &kp I &kp O &kp P
            &kp RET &kp LSHFT &kp A &kp S &kp D &kp F          &kp G &kp H &kp J &kp K &kp L &kp SEMI
                    &kp LCTRL &kp Z &kp X &kp C &kp V          &kp B &kp N &kp M &kp COMMA &gp_btn 0
            &trans  &trans     &kp LALT &mo 7 &kp SPACE        &kp RALT &mo 8 &kp LGUI         &trans   &trans
            >;
        };
        L6-full-gamepad{
            // -----------------------------------------------------------------------------------------
            // |  ESC  | TAB |gp_LT| gp_U| gp_5|gp_4 |         |gp_10|gp_11|gp_U |gp_RT|  O  |  P  |
            // | ENTER |SHIFT| gp_L| gp_D| gp_R|  F  |         |  G  |gp_L |gp_D |gp_R |  L  |  ;  |
            //         |CTRL |gp_0 |gp_1 |gp_2 |gp_3 |         |gp_6 |gp_7 |gp_8 |gp_9 |  .  |
            //                     | ALT | SPC | L7  |         | ALT | L6  | LGUI|
            bindings = <
            &kp ESC  &kp TAB  &kp Q &kp W &gp_btn 5 &gp_btn 4          &gp_btn 10 &gp_btn 11 &kp U &kp I &kp O &kp P
            &kp RET &kp LSHFT &kp A &kp S &kp D &kp F                   &kp G  &kp H  &kp J &kp K &kp L &kp SEMI
                    &kp LCTRL &gp_btn 0 &gp_btn 1 &gp_btn 2 &gp_btn 3   &gp_btn 6  &gp_btn 7  &gp_btn 8 &gp_btn 9 &kp DOT
            &trans  &trans     &kp LALT &mo 7 &kp SPACE                 &kp RALT &mo 8 &kp LGUI         &trans   &trans
            >;
        };
        L7-normal-again {
            // -----------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  BSPC  |
            // |  CTRL |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENTER |
            //         |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  |
            // |  SW1  | SW2 |     | LGUI| SPC | L2  |     | ALT | L1  |SHIFT|     | SW2 |   SW1  |
            bindings = <
                &kp TAB &kp Q &kp W &kp E &kp R &kp T       &kp Y &kp U &kp I &kp O &kp P    &kp BSPC
              &kp LCTRL &kp A &kp S &kp D &kp F &kp G       &kp H &kp J &kp K &kp L &kp SEMI &kp RET
                        &kp Z &kp X &kp C &kp V &kp B       &kp N &kp M &kp COMMA &kp DOT &kp FSLH
               &trans &trans    &kp LGUI &trans &trans        &trans &trans &kp RSHFT          &trans &trans
            >;
        };
        L8-numbers-again {
            // ---------------------------------------------------------------------------------------------------------
            // |  ESC  |  `   |  INS |  HOME |  PG_UP  |  SYS_QR |         |     |  [  |  ]  |  -  |  =  |  DEL  |
            // |       |  1   |  2   |   3   |    4    |    5    |         |  6  |  7  |  8  |  9  |  0  |  APP  |
            //         | CAPS |  DEL |  END  | PG_DOWN |         |         |     |     |     |  '  |  \  |
            //                       |       |         |   L2    |         |     | _L1 |     |
            bindings = <
               &kp ESC &kp GRAVE &kp INS &kp HOME &kp PG_UP &kp SYSREQ       &trans  &kp LBKT &kp RBKT &kp MINUS &kp EQUAL &kp DEL
               &trans  &kp N1  &kp N2 &kp N3   &kp N4    &kp N5            &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp K_APP
                      &kp CAPS &kp DEL &kp END &kp PG_DN &trans          &trans &trans &trans  &kp SQT &kp BSLH
            &trans   &trans            &kp LGUI  &trans  &trans          &trans &trans &kp RSHFT                &trans   &trans
            >;
        };
    };
};
&he_keymap {
    layer0 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &he_pass 6 &he_pass 7 &he_pass 8        &he_pass 9 &he_pass 10 &he_pass 11
        >;
    };
    layer1 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &he_pass 6 &he_pass 7 &he_pass 8        &he_pass 9 &he_pass 10 &he_pass 11
        >;
    };
    layer2 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &he_pass 6 &he_pass 7 &he_pass 8        &he_pass 9 &he_pass 10 &he_pass 11
            >;
    };
    layer3 {
        input-processors = <
            &mouse_fw MOUSE_V_WHEEL_UP &mouse_fw MOUSE_Y_UP &mouse_fw MOUSE_V_WHEEL_DOWN &he_pass 3 &he_pass 4  &he_pass 5
            &mouse_fw MOUSE_X_LEFT &mouse_fw MOUSE_Y_DOWN &mouse_fw MOUSE_X_RIGHT        &he_pass 9 &he_pass 10 &he_pass 11
        >;
    };
    layer4 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &socd_d 0  &he_pass 7 &socd_d 1         &he_pass 9 &he_pass 10 &he_pass 11
        >;
    };
    layer5 {//TODO set gamepad input processors
        input-processors = <
            &he_pass 0   &gp_fw GP_L_UP   &he_pass 2            &he_pass 3 &he_pass 4  &he_pass 5
            &gp_fw GP_L_LEFT &gp_fw GP_L_DOWN &gp_fw GP_L_RIGHT     &he_pass 9 &he_pass 10 &he_pass 11
        >;
    };
    layer6 {
        input-processors = <
            &gp_fw GP_L_TR   &gp_fw GP_L_UP   &he_pass 2            &he_pass 3 &gp_fw GP_R_UP  &gp_fw GP_R_TR
            &gp_fw GP_L_LEFT &gp_fw GP_L_DOWN &gp_fw GP_L_RIGHT     &gp_fw GP_R_LEFT &gp_fw GP_R_DOWN &gp_fw GP_R_RIGHT
        >;
    };
    layer7 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &he_pass 6 &he_pass 7 &he_pass 8        &he_pass 9 &he_pass 10 &he_pass 11
            >;
    };
    layer8 {
        input-processors = <
            &he_pass 0 &he_pass 1 &he_pass 2        &he_pass 3 &he_pass 4  &he_pass 5
            &he_pass 6 &he_pass 7 &he_pass 8        &he_pass 9 &he_pass 10 &he_pass 11
            >;
    };
};
